In [5]:
import pandas as pd
import sqlite3

salida = pd.read_csv('Women-DB.csv', sep=';')

#print(salida)

con = sqlite3.connect('Womens-Inter.db')
salida.to_sql('class',con, if_exists='replace', index = False)
cursor = con.cursor()

consulta = "SELECT * FROM class"

salida = pd.read_sql(consulta, con)
#print(salida.columns)


consulta1 = "SELECT * FROM CLASS WHERE Country in ('Japan','Greece','Argentina')"

cursor.execute(consulta1)

filas = cursor.fetchall()

for fila in filas:
    print(fila)

(22, 'Greece', 'Developed', 'Member', 'Euro', 43.0, 42.0, -1.7, 42.5)
(32, 'Japan', 'Developed', 'Not Member', 'National Currency', 40.0, 49.5, 0.8, 64.7)
(2, 'Argentina', 'Developing', 'Not Member', 'National Currency', 35.7, 37.2, 26.5, 47.3)