In [16]:
import sqlite3
from sqlite3 import Error

def conectar():
    try: 
        conexion = sqlite3.connect('database1.db')
        conexion.execute('PRAGMA foreing_keys = ON')
        print('Conexión establecida')
        return conexion
    except Error:
        print(Error)
        
        
def tabla(conexion):
    conexion.execute("CREATE TABLE clientes (id integer PRIMARY KEY, nombre text, apellido text)")
    conexion.execute("CREATE TABLE ordenes (id integer PRIMARY KEY, cliente_id integer, nombre_producto text, cantidad integer)")
    conexion.execute("INSERT INTO clientes (id, nombre, apellido) VALUES ('123','Manuel','Ramirez')")
    conexion.execute("INSERT INTO clientes (id, nombre, apellido) VALUES ('564', 'Maria','Perez')")
    conexion.execute("INSERT INTO ordenes (cliente_id, nombre_producto, cantidad) VALUES ('123','arroz',2), ('123','frijoles',3),('123','leche',5),('123','huevos',12)")
    conexion.execute("INSERT INTO ordenes (cliente_id, nombre_producto, cantidad) VALUES ('564','harina',2),('564','huevos',3),('564','azucar',1),('564','chocolate',1)")
    conexion.commit()
    
def consultas(conexion):
    cursor = conexion.cursor()
    consulta5 = "SELECT SUM(cantidad) FROM ordenes"
    consulta6 = "SELECT MAX (cantidad) FROM ordenes"
    consulta7 = "SELECT MIN (cantidad) FROM ordenes"
    consulta8 = "SELECT AVG (cantidad) FROM ordenes"
    consulta9 = "SELECT UPPER (nombre) FROM clientes"
    consulta10 = "SELECT LOWER (nombre) FROM clientes"
    consulta11 = "SELECT LENGTH (nombre) FROM clientes"
    cursor.execute(consulta11)
    filas = cursor.fetchall()
    
    for fila in filas: 
        print(fila)
        
con = conectar()
#tabla(con)
consultas(con)
#con.close()

Conexión establecida
(6,)
(5,)