In [5]:
import sqlite3
from sqlite3 import Error

def conectar():
    try: 
        conexion = sqlite3.connect('mydatabase.db')
        conexion.execute('PRAGMA foreing_keys = ON')
        print('Conexión establecida')
        return conexion
    except Error:
        print(Error)
        
def crearTabla(conexion):
    conexion.execute('CREATE TABLE estudiante( matricula integer PRIMARY KEY, nombre text not null, apellidos text not null, fechaInicio text not null, promedio real)')
    conexion.execute('CREATE TABLE carrera (id integer PRIMARY KEY, nombre text not null, estudiante int)')
    conexion.execute('CREATE TABLE datosContacto(id integer PRIMARY KEY, estudiante integer, telefono1 text, telefono2 text, correo text, CONSTRAINT fk_contactoEstudiante FOREIGN KEY(estudiante) REFERENCES estudiante (matricula))')
    
    
def modificarTabla(conexion):
    conexion.execute('''ALTER TABLE estudiante ADD COLUMN carrera text not null''')
    conexion.execute('''ALTER TABLE estudiante ADD COLUMN grado integer not null''')
    conexion.execute('''ALTER TABLE estudiante ADD COLUMN grupo text not null''')
    conexion.commit()
    
def eliminarTabla(conexion):
    conexion.execute('''DROP TABLE IF EXISTS carrera''')
    conexion.commit()
    
    
def insertarRegistro(conexion):
    conexion.execute('''INSERT INTO estudiante (nombre, apellidos, fechaInicio, promedio, carrera, grado, grupo) VALUES('Jose', 'Rodriguez Perez','2021-06-09',8.75,'Ingenieria Industrial',1,'G')''')
    conexion.execute('''INSERT INTO estudiante (nombre, apellidos, fechaInicio, promedio, carrera, grado, grupo) VALUES('Maria','Cruz Velasquez','2018-01-15',9.2,'Licenciatura en Enfermeria',6,'B')''')
    conexion.execute('''INSERT INTO datosContacto (estudiante, telefono1, telefono2, correo) VALUES(1,'8331234567','5552334455','micorreo@gmail.com')''')
    conexion.execute('''INSERT INTO datosContacto (estudiante, telefono1, telefono2, correo) VALUES(2,'0554564567','1111234567','correo@ejemplo')''')
    conexion.commit()
    
def modificarRegistro(conexion, matricula, nombre, telefono):
    conexion.execute("UPDATE estudiante SET nombre='"+nombre+"' WHERE matricula = "+str(matricula))
    conexion.execute("UPDATE datosContacto SET telefono1 = '"+telefono+"' WHERE estudiante ="+str(matricula))
    conexion.commit()

    
def eliminarRegistro(conexion):
    conexion.execute('DELETE FROM datosContacto WHERE estudiante = 1')
    conexion.execute('DELETE FROM datosContacto WHERE estudiante = 2')
    conexion.execute('DELETE FROM estudiante WHERE matricula = 2')
    conexion.commit()
    

con = conectar()
crearTabla(con)
modificarTabla(con)
eliminarTabla(con)
insertarRegistro(con)
modificarRegistro(con, 1, 'Juan','5551234567')
eliminarRegistro(con)
con.close()

Conexión establecida