In [2]:
import sqlite3
from sqlite3 import Error

def conectar():
    try: 
        conexion = sqlite3.connect('mydatabase.db')
        conexion.execute('PRAGMA foreing_keys = ON')
        print('Conexi√≥n establecida')
        return conexion
    except Error:
        print(Error)
        
def crearTabla(conexion):
    conexion.execute("CREATE TABLE empresa (id integer PRIMARY KEY, NOMBRE text not null, edad integer not null, estudios text not null, salario integer not null)")
    conexion.commit()
    
def insertarRegistros(conexion):
    conexion.execute("INSERT INTO empresa (id, nombre, edad, estudios, salario) VALUES (10,'Andrea',25, 'profesional', 12000)")
    conexion.execute("INSERT INTO empresa (id, nombre, edad, estudios, salario) VALUES (11,'Pablo',31, 'maestria', 18000)")
    conexion.execute("INSERT INTO empresa (id, nombre, edad, estudios, salario) VALUES (12,'Daniel',30, 'doctorado', 21000)")
    conexion.execute("INSERT INTO empresa (id, nombre, edad, estudios, salario) VALUES (13,'Fernanda',27, 'maestria', 18000)")
    conexion.execute("INSERT INTO empresa (id, nombre, edad, estudios, salario) VALUES (14,'Luis',23, 'profesional', 12000)")
    conexion.execute("INSERT INTO empresa (id, nombre, edad, estudios, salario) VALUES (15,'Karen',26, 'maestria', 18000)")
    conexion.commit()
    
def conjuntos(conexion):
    cursor = conexion.cursor()
    cursor.execute("SELECT * FROM empresa ORDER BY salario ASC")
    filas = cursor.fetchall()
    
    for fila in filas: 
        print(fila)
        
con = conectar()
crearTabla(con)
insertarRegistros(con)
conjuntos(con)

(10, 'Andrea', 25, 'profesional', 12000)
(14, 'Luis', 23, 'profesional', 12000)
(11, 'Pablo', 31, 'maestria', 18000)
(13, 'Fernanda', 27, 'maestria', 18000)
(15, 'Karen', 26, 'maestria', 18000)
(12, 'Daniel', 30, 'doctorado', 21000)