In [5]:
import sqlite3
from sqlite3 import Error

def conectar():
    try: 
        conexion = sqlite3.connect('database2.db')
        conexion.execute('PRAGMA foreing_keys = ON')
        print('Conexión establecida')
        return conexion
    except Error:
        print(Error)
        
        
def tabla(conexion):
    conexion.execute("CREATE TABLE empresa (id integer PRIMARY KEY, nombre text not null, edad integer not null, estudios text not null, salario integer)")
    conexion.execute("INSERT INTO empresa (id, nombre, edad, estudios, salario) VALUES ('10','Andrea','25','profesional','12000')")
    conexion.execute("INSERT INTO empresa (id, nombre, edad, estudios, salario) VALUES ('11','Pablo','31','maestria','18000')")
    conexion.execute("INSERT INTO empresa (id, nombre, edad, estudios, salario) VALUES ('12','Daniel','30','doctorado','21000')")
    conexion.execute("INSERT INTO empresa (id, nombre, edad, estudios, salario) VALUES ('13','Fernanda','27','maestria','18000')")
    conexion.execute("INSERT INTO empresa (id, nombre, edad, estudios, salario) VALUES ('14','Luis','23','profesional','12000')")
    conexion.execute("INSERT INTO empresa (id, nombre, edad, estudios, salario) VALUES ('15','Karen','26','maestria','18000')")
    conexion.commit()
    
def consultas(conexion):
    cursor = conexion.cursor()
    consulta1 = "SELECT nombre, SUM(salario) FROM empresa GROUP BY nombre"
    consulta2 = "SELECT nombre, SUM(salario) FROM empresa GROUP BY nombre ORDER BY salario DESC"
    
    cursor.execute(consulta2)
    filas = cursor.fetchall()
    
    for fila in filas:
        print(fila)
        
con = conectar()
tabla(con)
consultas(con)
con.close()

Conexión establecida
('Daniel', 21000)
('Pablo', 18000)
('Karen', 18000)
('Fernanda', 18000)
('Luis', 12000)
('Andrea', 12000)